
body{
            display: block;
            margin: 8px;
           background-color: forestgreen !important;
           
        }
.container{
    text-align: center;
    font-style: italic;
    font-family: fantasy;
}
hr{
    border-width: medium !important;
    border-style: dotted !important;
    border-color: snow      !important;
}
